<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="top">
      <div class="logo">
        <img src='/src/Logo.png' alt="" />
        <!-- <h2>MovieBox</h2>  -->
      </div>
      <input placeholder="What do you want to watch" type="search" id="search" />
      <div class="login">
        <span>Sign In</span>
        <img class="menu" src='/src/Menu.png' alt="" />
      </div>
      </div>
      <div class="info">
        <h1>
            John Wick 3 :
            <!-- {/* <br /> */} -->
        </h1>
        <h1>Parabellum</h1>
        <!-- {/* <div class="icons">
            <img src='/src/Ellipse 3.png' alt="" />
            <img src='/src/Ellipse 3.png' alt="" />
            <img src='/src/Ellipse 3.png' alt="" />
        </div> */} -->
        <br />
        <p class="wick">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse fugiat
          rerum ut reprehenderit iste qui aperiam! Nobis, doloremque quidem
          doloribus, nihil voluptas officia omnis, alias porro minus repudiandae
          temporibus aliquam!
        </p>
        <button class="btn">
            <a style="text-decoration: none;
               display: flex;
                color: #fff;" href="trailer.html">
                <img src='/src/Icon.png' alt="" />
                WATCH TRAILER
            </a>
        </button>
      </div>
    </div>
    <div class="above">
        <h6>Featured Movie</h6>
        <a href="#">see more &gt; </a>
    </div>
       
    <div class='movie'>
         <!-- <h3>Featured Movie</h3>
       <a href="#">see more &gt; </a>  -->
     <div class="moviegrid">
      <!-- <div class="above"> -->
       <!-- <h3>Featured Movie</h3>
       <a href="#">see more &gt; </a> -->
     <!-- </div>  -->
      <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (3).png' alt="" />

           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>
       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (1).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (2).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (3).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="">
           <img src='/src/Poster Image (1).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="">
           <img src='/src/Poster.png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (2).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="">
           <img src='/src/Poster (3).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster Image.png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>

       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (1).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>
       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (3).png' alt="" />

           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>
       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (2).png' alt="" />
           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>
       <div class="grid">
           <a href="trailer.html">
           <img src='/src/Poster (3).png' alt="" />

           </a>
           <div class="details">
               <p class='time'>USA 2016 - Current</p>
               <h3>Stranger Things</h3>
               <div></div>
               <h4>Action, Adventure, Horror</h4>
           </div>
           
           
       </div>
       <div class="grid">
        <a href="trailer.html">
        <img src='/src/Poster (3).png' alt="" />

        </a>
        <div class="details">
            <p class='time'>USA 2016 - Current</p>
            <h3>Stranger Things</h3>
            <div></div>
            <h4>Action, Adventure, Horror</h4>
        </div>
        
        
    </div>
       
     </div>
   </div>
    <script src="script.js"></script>
</body>
</html>