<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/styles.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="links">
          <div class="events">
            <span class="box">
              <a href="main.html"><img class="logo" src='/src/Logo.png' alt="" /></a>
              <h4>MovieBox</h4>
            </span>
            <ul>
              <link rel="import" href="Trailer.jsx" />
              
              <li>Home</li>
              <li>Movie</li>
              <li>Tv Series</li>
              <li>Upcoming</li>
            </ul>
            <div class="note">
              Play movie quotes and earn free tickets.
              <p>50k people are playing now</p>
              <button class="btn">Start Playing</button>
            </div>
          </div>
        </div>
        <div class="wrapper">
          <div class="play">
            <video  controls>
        <!-- <source src="/Components/TCY.mp4" type="video/mp4" > -->
        <source src="/src/ Agency.mp4" type="video/webm" >
        </video>
          </div>
          <b>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eos vel
            id pariatur qui necessitatibus consequuntur temporibus eius, neque
            dolorum, eveniet, suscipit harum. Ab qui dignissimos officiis, minus
            ea illo!
          </b>
          <br />
          <label>
              Director:
              <h5>Joseph</h5>
          </label>
          <label>
              Director:
              <h5>Joseph</h5>
          </label>
          <label>
              Director:
              <h5>Joseph</h5>
          </label>
        </div>
        
      </div>
    <script src="script.js"></script>
</body>
</html>