*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #fff;
}
.header{
    position: relative;
    width: 100%;
    z-index: 10;
    /* height: 100vh; */
}
.top{
    display: flex;
    padding: 10px 100px;
    align-items: center;
    position: relative;
    /* width: 100%; */
    justify-content: space-between;
}
.logo img{
    width: 100px;
}
.login{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    gap: 10px;
}
.menu
{cursor: pointer;
    width: 30px;
    object-fit: cover;
}
span{
    cursor: pointer;
    color: #fff;
}
input{
    border: 1px solid rgba(255, 255, 255, 0.72);
    border-radius: 10px;
    /* width: 100%; */
    font-weight: 900;
    padding: 2px 10px;
    width: 100%;
    position: relative;
    display: block;
    max-width: 280px;
    color: #fff;
    background: transparent;
}
::placeholder{
font-size: 11px;
font-weight: 200;
color: #fff;
}
.header::before,
.header::after{
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    background: url(./Poster\ \(4\).png);
    background-position: center;
    background-size: cover;
}
.info{
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    /* float: left; */
    padding: 40px 100px;
}
h1{
    color: #fff;
    margin: 0;
    font-weight: 600;
    line-height: 1.1;

}
p{
    color: #fff;
    text-align: left;
    max-width: 300px;
    margin-bottom: 1rem;
    line-height: 1.1;
    font-weight: 300;
}
.btn{
    background: rgb(255, 0, 0);
    border-radius: 10px;
    padding: 7px 12px;
    margin-bottom: 6rem;
    border: 0;
    outline: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #fff;
}
.container{
    display: flex;
    position: relative;
    background: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    justify-content: space-between;
    width: 100%;
    /* max-width: 800px; */
    border-radius: 10px;
    margin:10px auto;
    height: auto;
    overflow: hidden;
    /* background-color: red; */
    gap: 20px;
}
.above{
    padding: 0px 40px;
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
    /* margin-bottom: -170px; */
}
.above h6{
    display: flex;
    align-items: center;
    font-size: 19px;
    justify-content: center;
}
.above a{
    color: rgb(255, 0, 0);
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
video{
    width: 100%;
    z-index: -1;
}
.links{

    position: relative;
    border: 4px solid  #666;
    border-radius: 10px;
    cursor: pointer;
    padding: 1.5rem;
    display: flex;
    /* flex-direction: column; */
    /* width: 100%; */
    height: auto;
    /* max-width: 300px; */

}
.links img{
    /* display: none; */
    width: 70px;
    object-fit: cover;
}
.box{
    display: flex;
    /* background-color: yellow; */
    justify-content: center;
    align-items: center;
    gap: 0px;
    border: 0;
    margin: 0;
    position: relative;
    padding: 0;

}
ul{
    margin-top: 10px;
    position: relative;

}
li{
    margin: 10px;
    list-style: none;
    display: flex;
    color: #999;
    font-weight: 700;
    position: relative;
}
.links span{
    display: inline-flex;
    /* margin: auto; */
    /* position: absolute; */
    /* left:-40px; */
    display: flex;
    /* display: block; */
}
.note{
    border: 2px solid rgb(255, 0, 0);
    margin-top: 85%;
    padding: 1rem;
    border-radius: 10px;
}
.box h4{
    /* margin-left: -39px; */
    color:black ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    font-size: 15px;
    font-weight: 700;
}
.wrapper
{
    display: flex;
    width: 100%;
    flex-direction: column;

}
label{
    display: flex;
    gap: 10px;

}
b{
    text-align: left;
    margin-top: 20px;
    width: 100%;
    max-width: 300px;
}
.play{
    /* background: url('Poster\ \(1\).png'); */
    /* height:300px; */
    width:100%;
    background-color: goldenrod;
    height: 400px;
    position: relative;
    display: block;
    z-index: 100;
    margin: 0;
    padding: 0;
    /* display: flex; */
    /* margin: auto; */
    border-radius: 10px;
    overflow: hidden;
    /* align-items: center; */
    cursor: pointer;
    /* justify-content: center; */
    /* width: 100%; */
}
.play > img{
    object-fit: cover;
    background-position: center;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
    /* height: 300px; */

}
.events  {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

}
.note button{
    display: flex;
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    margin: auto;
}
.movie{
    /* padding: 40px 50px; */
    /* display: flex; */
    /* width: 100%; */
    padding: 100px 80px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 350px));
    position: relative;
}
.moviegrid{
    display: grid;
    position: relative;
    /* height: 100%; */
    display: flex;
    width: 100%;
    gap: 40px;
    flex-wrap: wrap;

}

.grid{
   display: flex;
   flex-direction: column;
   justify-content: left;
   cursor: pointer; 
   position: relative;
   align-items: flex-start;
   /* height: 100%; */
   width: 250px;
}
.time{
    color: #666;
}
.details{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.grid img{
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease;
    scale: 0.9;
    transform: scale(0.9);
    border-radius: 10px;
    /* height: 100%; */
}
.grid img:hover{
   transform: scale(0.95); 
}
h3{
    margin-bottom: 10px;
}
h4{
    color: #666;
    font-weight: 400;
}
@media(max-width:1120px){

}
@media (max-width:992px){
    .top,
    .info{
        padding: 10px ;
    }
    .movie{
        padding: 100px 50px;
        overflow: hidden;
        max-width: 80%;
        grid-template-columns: repeat(2, 300px);
    }
    .top{
        flex-direction: column;
        align-items: flex-start;
    }
    input{
        width: 100%;
        max-width: 200px;
        margin-top: 10px;
    }
    .login{
        position: absolute;
        right: 0;
    }
    .moviegrid{
        padding: 100px 0;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 540px){
    .info{
        align-items: center;
        justify-content: center;
    }
    input{
        width: 100%;
        max-width: 200px;
        margin-top: 10px;
    }
    .header::before,
    .header::after
    {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        right: 0;
    }
    input{
        display: block !important;
    }
    .top{
        flex-direction: column;
        align-items: flex-start;
    }
    .login{
        position: absolute;
        right: 0;
    }
    p{
        text-align: center;
        width: 100%;
        max-width: 100%;
    }
    .movie{
        padding: 100px 30px;
        grid-template-columns: repeat(2, 1fr);
    }
    .moviegrid{
        padding: 100px 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .grid{
        width: 100%;
    }
}